:root {
    --accent-color: #3498db;
    --white: #ffffff;
    --subtext-color: #757575;
}

body {
    background-color: var(--white);
    color: var(--white);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent-color);
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none; 
}

.menu-icon {
    cursor: pointer;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 1fr 5fr; 
    gap: 10px; 
    height: 100vh;
    width: 100vw;
    padding-top: 0;
}

.profile {
    background: linear-gradient(to top, hsl(221, 85%, 59%), var(--accent-color));
    grid-row: 1 / span 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 1rem;
}

.banner {
    background: linear-gradient(to left, hsl(221, 85%, 59%), var(--accent-color));
    grid-row: 1; 
    grid-column: 2;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.banner-img > img {
    height: 20vh;
    width: auto;
}

.grades {
    background-color: hsl(211, 47%, 91%);
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--accent-color) #e0e0e0;
    scrollbar-width: thin;
}

.grades > h2 {
    margin: 1rem;
    color: var(--subtext-color);
    grid-column-start: 1;
    grid-column-end: 3;
}

.cards {
    margin: 1rem;
    border-radius: 10px;    
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    color: var(--white);
}

.details > img {
    width: 12vw;
}

.details > h2 {
    font-size: 2rem;
}

.dash-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    background-color: transparent;
    color: white;
}

.dash-button:hover {
    background-color: var(--background-color);
}

.banner-text {
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 50px;
    font-weight: 600;
}

.banner-text > .date {
    font-size: 30px;
} 

.button-icon {
    padding: 0;
    margin: 0;
    width: 30px;
}

#logout {
    width: 100%;
}

.secondary-button {
    width: 100%;
}

.buttons {
    width: 100%;
}

.danger:hover {
    background-color: rgba(153, 0, 0, 0.749);
}

.grades h3 {
    margin: 1rem;
    font-size: 30px;
}

.student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.student p {
    font-size: 20px;
    font-weight: 600;
}

.student:hover {
    background-color: hsla(221, 100%, 87%, 0.802);
}

.button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1rem;
    gap: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.edit:hover {
    background-color: hsla(221, 77%, 74%, 0.596);
}

.button img {
    height: 40px;
}

.grade {
    margin: 1rem;
    border-radius: 10px;
    background: linear-gradient(to left, hsl(221, 85%, 59%), var(--accent-color));
}

.scores {
    display: flex;
    width: 100%;
    margin: 1rem;
}

.score, .score-secured {
    margin: 1rem;
    width: 50%;
}

.scores h4 {
    font-size: 22px;
}

.scores h5 {
    font-size: 18px;
    margin-top: 10px;
}

.heading {
    grid-row: 1;
    grid-column: 1 / 3;
}

#studentList {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.blue {
    background: linear-gradient(to left, hsl(221, 85%, 59%), var(--accent-color));
}

@media (max-width: 1200px) {
    .dashboard {
        grid-template-columns: 1fr 3fr; 
    }

    .scores {
        flex-direction: column;
    }

    .banner-text {
        font-size: 40px;
    }

    .banner-text > .date {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    header {
        display: block;
    }

    .dashboard {
        padding-top: 60px;
    }

    .hidden {
        display: none;
    }

    .banner, .grades, .profile {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .banner-text {
        font-size: 20px;
    }

    .banner-text > .date {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .grades {
        grid-template-columns: 100%;
    }

    .grade {
        grid-column: 1;
    }
}
